<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <diV class="main-content">
        {{>header}}
        <p>{{HelpText}}</p>
    </diV>
        {{>footer}}
        
</body>
</html>